body .attribution {
  font-size: 11px;
  text-align: center;
}
body .attribution a {
  color: #3e52a3;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 375px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}